# Object files
*.o

# Listing and map files
*.lst
*.map
*.out

# Debug and Core dumps
vgcore.*
core
*.dSYM/

# Editor and OS specific files
*~
*.swp
*.swo
.vscode/
.idea/
.DS_Store

# Temporary assembly files
*.tmp
